doctype html
html
  head
    title= title

    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    block head
  body
    if flash
      for message in flash
        div(class="alert alert-#{message.type}" role="alert")
          p= message.message

    block content

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    block defer